log:
  level: debug
  disable_sentry: true

db:
  url: postgres://postgres:password@db:5432/usdt_transfers?sslmode=disable

listener:
  addr: :8000

ethereum:
  rpc_url: "wss://mainnet.infura.io/ws/v3/e6afe163675945c9b0f64b00139e5513"
  starting_block: 20576594

cop:
  disabled: true
  endpoint: "http://..."
  upstream: "http://..."
  service_name: usdt-listener-svc
  service_port: 80
