version: "3.8"

services:
  db:
    image: postgres:15.7
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: usdt_transfers
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - KV_VIPER_FILE=/config.yaml
      - INFURA_API_KEY=${e6afe163675945c9b0f64b00139e5513}
      - PROCESS_HIST=${PROCESS_HIST:-true}
      - STARTING_BLOCK=${STARTING_BLOCK:-20420510}
    volumes:
      - ./config.yaml:/config.yaml
    entrypoint:
      [
        "/bin/sh",
        "-c",
        "usr/local/bin/usdt-listener-svc migrate down && usr/local/bin/usdt-listener-svc migrate up && usr/local/bin/usdt-listener-svc run service",
      ]

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api

volumes:
  pgdata:
